/* General Styles */
/* Apply to all sizes */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  text-align: center;
}


img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
header{
  position:-webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
}
a {
  color:black;
   text-decoration: none;
}
h2 {
  text-align: center;
  display: block;
}

.ima {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 100px;

}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
section{
  display:block;
}
.benefits{
  display: flex;
  flex-direction: column;
}
.video{
  display: flex;
  justify-content: center;
}
.instruments > div{
  background-color: #ddd;
color: black;
padding: 15px 0;
width: 100%;
text-transform: uppercase;
}
.instruments {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}
.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background-color: #f1c40f;
  cursor: pointer;
}
.two{
  display:flex;
  justify-content: space-around;
}
footer > .two {
  text-decoration: none;
    display: flex;
    justify-content: flex-end;
}
@media only screen and (max-width: 650px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #ima1 {
    display: none;
  }

  .instruments {
    width: calc(70%);
  }
  li{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   list-style: none;
  }


/* Add Breakpoints Here */
/* Apply to certain size and above */
